.counter-card{
    width:500px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,0,0,.15);
    text-align:center;
}

.counter-card h2{
    margin-bottom:20px;
}

.counter-card h1{
    font-size:80px;
    margin:20px 0;
}

.button-group{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.status{
    font-size:20px;
    margin-bottom:20px;
    font-weight:bold;
}

.zero{
    color:black;
}

.positive{
    color:green;
}

.max{
    color:red;
}